<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/xdf.css') }}">
    <link rel="stylesheet" href="{{ static('fa/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/flag-icon-css-master/css/flag-icon.min.css') }}">
    <title>{% block title %}{{ tournament.name }}{% endblock %}</title>
    {% include "xdwc/_favs.jinja" %}
    {% if debug %}
        <script src="{{ static('js/vue.js') }}"></script>
    {% else %}
        <script src="{{ static('js/vue.min.js') }}"></script>
    {% endif %}
    <script src="{{ static('js/jquery-3.4.1.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/{{ tournament.slug }}/">
        {% if tournament.slug == 'xdwc2018' %}
            <img src="{{ static('img/xdwc-logo-white-sm.png') }}" alt="XDWC 2018" style="height: 26px;">
        {% elif tournament.slug == 'xdwc2019' %}
            <img src="{{ static('img/xdwc2019-logo.png') }}" alt="XDWC 2019" style="height: 26px;">
        {% elif tournament.slug == 'xdwc2020' %}
            <img src="{{ static('img/xdwc2020-logo.png') }}" alt="XDWC 2020" style="height: 26px;">
        {% elif tournament.slug == 'xdwc2021' %}
            <img src="{{ static('img/xdwc2021-logo-text.png') }}" alt="XDWC 2021" style="height: 26px;">
        {% elif tournament.slug == 'xdwc2022' %}
            <img src="{{ static('img/xdwc2021-logo-text.png') }}" alt="XDWC 2022" style="height: 26px;">
        {% elif tournament.slug == 'xdwc2023' %}
            <img src="{{ static('img/xdwc2021-logo-text.png') }}" alt="XDWC 2023" style="height: 26px;">
        {% else %}
            {{ tournament.name }}
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_nav_tab == 'index' %}active{% endif %}">
                <a class="nav-link" href="/{{ tournament.slug }}/">Standings</a>
            </li>

            <li class="nav-item {% if current_nav_tab == 'rules' %}active{% endif %}">
                <a class="nav-link" href="/{{ tournament.slug }}/rules/">Rules</a>
            </li>
            <li class="nav-item {% if current_nav_tab == 'maps' %}active{% endif %}">
                <a class="nav-link" href="/{{ tournament.slug }}/schedule/">Schedule</a>
            </li>
            <li class="nav-item {% if current_nav_tab == 'servers' %}active{% endif %}">
                <a class="nav-link" href="/{{ tournament.slug }}/servers/">Servers</a>
            </li>
            {#            <li class="nav-item {% if current_nav_tab == 'players' %}active{% endif %}">#}
            {#                <a class="nav-link" href="">Players</a>#}
            {#            </li>#}
            {% if tournament.slug != 'xdwc2024' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2024/">XDWC 2024</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2023' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2023/">XDWC 2023</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2022' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2022/">XDWC 2022</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2021' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2021/">XDWC 2021</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2020' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2020/">XDWC 2020</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2019' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2019/">XDWC 2019</a></li>
            {% endif %}
            {% if tournament.slug != 'xqc91' %}
                <li class="nav-item"><a class="nav-link" href="/xqc91/">XQC #91</a></li>
            {% endif %}
            {% if tournament.slug != 'xdwc2018' %}
                <li class="nav-item"><a class="nav-link" href="/xdwc2018/">XDWC 2018</a></li>
                {% endif %}

        </ul>

    </div>
</nav>

<div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %} main-container">
{#    <noscript>#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div class="alert alert-danger">#}
{#                    Hi noscript user! Please consider whitelisting this site. I can assure you it does nothing evil.<br>#}
{#                    Just a bit of crypto mining and few targeted ads. Is it such a big deal? :kappa:#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </noscript>#}
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="float-lg-right"><a href="#top">Back to top</a></li>
                            {% if request.user.is_anonymous %}
                                <li><a href="{{ login_url(request) }}">Login</a></li>
                            {% else %}
                                <li><a href="{{ url('logout') }}">Logout</a></li>
                            {% endif %}
                            <li><a href="https://xonotic.org/">Xonotic Website</a></li>
                            <li><a href="https://discord.gg/v447EHx">XDF Discord</a></li>
                            <li><a href="http://webchat.quakenet.org/?channels=#xdwc">IRC: quakenet/#xdwc</a></li>

                        </ul>
                        {#  <p>This site was brought to you by tedious work of Xonotic Defrag community.</p> #}
                        {#                        <p>Website made by <a href="https://portal.exe.pub/xdf/players/4/">Morosophos</a>,<br>#}
                        {#                            <a href="https://github.com/nsavch/xanmel-web">source code</a> available under GNU AGPL-3.0 license.#}
                        {#                        </p>#}
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
{% block extra_js %}
{% endblock %}
</html>
