{% extends "xdwc/base.jinja" %}

{% block content %}
    <div class="col-md-12" xmlns:v-bind="http://www.w3.org/1999/xhtml">
        {% include "xdwc/_logo_big.jinja" %}
        {% if tournament.active and (next_map or last_map) %}
            {% if next_map %}
            <div class="alert alert-secondary alert-dismissible fade show mt-3 mb-3 text-center" style="padding: 1.25rem 1.25rem;">{{ next_map.name }}
                starts in:<br>
                <strong style="font-size: 150%" id="countdown"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-secondary alert-dismissible fade show mt-3 mb-3 text-center" style="padding: 1.25rem 1.25rem;">Tournament ends in:<br>
                <strong style="font-size: 150%" id="countdown"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <script>
                // Set the date we're counting down to
                {% if next_map %}
                var countDownDate = new Date("{{ next_map.schedule_start }}").getTime();
                {% else %}
                var countDownDate = new Date("{{ last_map.schedule_end }}").getTime();
                {% endif %}

                // Update the count down every 1 second
                function updateCountdown(interval_id) {
                    // Get todays date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    var el = document.getElementById("countdown")
                    if (el) {
                        el.innerHTML = days + "d " + hours + "h "
                            + minutes + "m " + seconds + "s ";

                        // If the count down is finished, write some text
                        if (distance < 0) {
                            if (interval_id) {
                                clearInterval(interval_id);
                            }
                            el.innerHTML = "EXPIRED";
                        }
                    } else {
                        clearInterval(interval_id);
                    }
                }

                updateCountdown(null);
                var x = setInterval(function () {
                    updateCountdown(x);
                }, 1000);
            </script>
        {% endif %}
        <h2 class="page-header">Standings</h2>
        {% if tournament.active %}
        {% raw %}
        <div id="standings-table" style="display: none">
            <div class="mb-3">
                <div class="form-check-inline form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="autoupdate">
                    <label class="form-check-label" for="exampleCheck1">Enable auto update</label>

                </div>
                <div v-if="new_records.length > 0" class="form-check-inline">
                    <a href="#" v-if="!show_new_records" v-on:click.prevent="show_new_records = !show_new_records">
                        {{ new_records.length }} new records
                    </a>
                    <a href="#" v-else v-on:click.prevent="show_new_records = !show_new_records">
                        hide
                    </a>
                    <a href="#" class="ml-5 text-danger" v-if="show_new_records" v-on:click.prevent="new_records=[]">
                        dismiss all
                    </a>
                </div>
            </div>
            <div v-if="show_new_records">
                <div class="alert alert-secondary" v-for="(record, i) in new_records">
                    <span class="standings-nickname">
                        <a style="text-decoration: none"
                           v-bind:href="'/player/' + record.player_id"
                           v-html="record.player_name"></a>:
                    </span>
                    {{ record.new_time }}s <span v-if="record.old_time">(improved from {{ record.old_time }}s)</span>
                    <button type="button" class="close" aria-label="Close" v-on:click="removeNewRecord(i)">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <p class="text-muted">NOTE: records set within last 24 hours are highlighted with green background in the
                table</p>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="2">
                    </th>
                    <th colspan="2" v-for="map in maps">
                        <a href="#" class="fa-pull-right" v-if="sort_by === map[0]" v-on:click.prevent="">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                        <a href="#" class="fa-pull-right" v-else v-on:click.prevent="sort_by = map[0]">
                            <i class="fa fa-sort"></i>
                        </a>
                        <a v-bind:href="'/' + tournament_slug + '/map/' + map[0]">{{ map[1] }}</a>
                    </th>
                    <th>
                        <span>
                            <a href="#" class="fa-pull-right" v-if="sort_by === 'total'" v-on:click.prevent="">
                                <i class="fa fa-angle-double-down"></i>
                            </a>
                            <a href="#" class="fa-pull-right" v-else v-on:click.prevent="sort_by = 'total'">
                                <i class="fa fa-sort"></i>
                            </a>
                            Total&nbsp;&nbsp;&nbsp;
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(player, index) in players">
                    <td>{{ index + 1 }}</td>
                    <td class="standings-nickname">
                        <a v-bind:href="'/player/' + player.id" v-html="player.name"></a>
                    </td>
                    <template v-for="map in maps">
                        <td v-if="player.maps[map[0]]"
                            v-bind:title="timeSince(player.maps[map[0]].timestamp)"
                            v-bind:style="{backgroundColor: getTimeGradient(player.maps[map[0]].timestamp) }">
                            {{ player.maps[map[0]].time_formatted }}s
                        </td>
                        <td v-else></td>
                        <td v-if="player.maps[map[0]]"
                            v-bind:style="{backgroundColor: getTimeGradient(player.maps[map[0]].timestamp) }">
                            {{ Math.floor(player.maps[map[0]].score / 100) }}
                        </td>
                        <td v-else></td>
                    </template>
                    <td>{{ player.total.score_formatted }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endraw %}
        <script>
            var app = new Vue({
                el: '#standings-table',
                data: {
                    show_new_records: false,
                    autoupdate: true,
                    sort_by: 'total',
                    server_time: 0,
                    update_interval: 2 * 60 * 1000, // 2 mins
                    tournament_name: '{{ tournament }}',
                    tournament_slug: '{{ tournament.slug }}',
                    maps: [
                            {% for i in maps %}['{{ i.xonotic_name }}', '{{ i.name }}'],{% endfor %}
                    ],
                    players: [],
                    new_records: [],
                },
                methods: {
                    readableTimeDiff: function (diff) {
                        if (diff < 60) {
                            return 'Just now'
                        } else if (diff < 60 * 60) {
                            return '' + Math.floor(diff / 60) + ' minutes ago'
                        } else if (diff < 60 * 60 * 24) {
                            return '' + Math.floor(diff / (60 * 60)) + ' hours ago'
                        } else if (diff < 60 * 60 * 24 * 30) {
                            return '' + Math.floor(diff / (60 * 60 * 24)) + ' days ago'
                        } else {
                            return 'ages ago'
                        }
                    },
                    timeSince: function (t) {
                        var diff = this.server_time - t;
                        return this.readableTimeDiff(diff)
                    },
                    removeNewRecord: function (ix) {
                        this.new_records.splice(ix, 1);
                    },
                    getTimeGradient: function (record_timestamp) {
                        var base_color = [34, 34, 34];
                        var target_color = [34, 190, 34];
                        var hilite_period = 24 * 60 * 60;
                        var diff = this.server_time - record_timestamp;
                        var res;
                        if (diff >= hilite_period) {
                            res = base_color;
                        } else {
                            res = [
                                base_color[0] + (target_color[0] - base_color[0]) * (1 - diff / hilite_period),
                                base_color[1] + (target_color[1] - base_color[1]) * (1 - diff / hilite_period),
                                base_color[2] + (target_color[2] - base_color[2]) * (1 - diff / hilite_period),
                            ]
                        }
                        return 'rgb(' + res[0] + ',' + res[1] + ',' + res[2] + ')';
                    },
                    sortPlayers: function () {
                        var sort_by = this.sort_by;
                        this.players.sort(function (a, b) {
                            if (sort_by === 'total') {
                                return b.total.score - a.total.score
                            } else {
                                var mapA = a.maps[sort_by];
                                var mapB = b.maps[sort_by];
                                if (mapA && mapB) {
                                    return mapA.time - mapB.time;
                                } else if (mapA) {
                                    return -1
                                } else if (mapB) {
                                    return 1
                                } else {
                                    return b.total.score - a.total.score
                                }
                            }
                        });
                    },
                    updateScores: function () {
                        var that = this;
                        if (that.autoupdate) {
                            $.get(
                                '/{{ tournament.slug }}/standings.json/' + Math.floor(that.server_time - 5),
                                function (data, status, xhr) {
                                    if (xhr.status !== 200) {
                                        return;
                                    }
                                    that.server_time = data.current_time;
                                    var has_something_new = false;
                                    for (var i = 0; i < data.players.length; i++) {
                                        var player = data.players[i];
                                        var updated = false;
                                        for (var j = 0; j < that.players.length; j++) {
                                            var existing_player = that.players[j];
                                            if (player.id === existing_player.id) {
                                                updated = true;
                                                for (var mi in player.maps) {
                                                    if (player.maps.hasOwnProperty(mi)) {
                                                        var prev_time = existing_player.maps[mi] && existing_player.maps[mi].time_formatted;
                                                        if (player.maps[mi].time_formatted !== prev_time) {
                                                            that.new_records.unshift({
                                                                player_id: player.id,
                                                                player_name: player.name,
                                                                old_time: prev_time,
                                                                new_time: player.maps[mi].time_formatted,
                                                            });
                                                            has_something_new = true;
                                                        }
                                                    }
                                                }
                                                that.players[j].maps = player.maps;
                                                that.players[j].total = player.total;
                                                break
                                            }
                                        }
                                        if (!updated) {
                                            has_something_new = true;
                                            that.new_records.unshift({
                                                player_id: player.id,
                                                player_name: player.name,
                                                old_time: null,
                                                new_time: player.maps[mi].time_formatted,
                                            });
                                            that.players.push(player);
                                        }
                                    }
                                    if (has_something_new) {
                                        that.sortPlayers();
                                    }
                                }
                            );
                        }
                    },
                },
                watch: {
                    sort_by: function (new_val, old_val) {
                        this.sortPlayers();
                    }
                },
                mounted: function () {
                    var that = this;
                    $.get('/{{ tournament.slug }}/standings.json/0', function (data, status, xhr) {
                            if (xhr.status === 200) {
                                that.players = data.players;
                                that.sortPlayers();
                                that.server_time = data.current_time;
                                $('#standings-table').attr('style', 'display: block');
                                $('#standings-table-static').attr('style', 'display: none');
                            }
                        }
                    );
                    setInterval(this.updateScores, that.update_interval)
                }
            });
        </script>
        {% endif %}
        <table class="table table-bordered" id="standings-table-static">
            <thead>
            <tr>
                <th colspan="2">
                </th>
                {% for i in maps %}
                    <th colspan="2">
                        {% if ordering == i.xonotic_name %}
                            <a href="#" class="fa-pull-right"><i class="fa fa-angle-double-down"></i></a>
                        {% else %}
                            <a href="?ordering={{ i.xonotic_name }}" class="fa-pull-right"><i
                                    class="fa fa-sort"></i></a>
                        {% endif %}
                        <a href="/{{ tournament.slug }}/map/{{ i.xonotic_name }}">{{ i.name }}</a>

                    </th>
                {% endfor %}
                <th>
                    {% if ordering == 'total' %}
                        <a href="#" class="fa-pull-right"><i class="fa fa-angle-double-down"></i></a>
                    {% else %}
                        <a href="?ordering=total" class="fa-pull-right"><i class="fa fa-sort"></i></a>
                    {% endif %}
                    <span>Total&nbsp;&nbsp;&nbsp;</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                {% with p = players[player] %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td class="standings-nickname">
                            <a href="{{ url('xdwc:player', player.id) }}">
                                {{ player_name(player) }}
                            </a>
                        </td>
                        {% for i in maps %}
                            {% if i in p['maps'] %}
                                <td style="background-color: {{ p['maps'][i].time_record.get_background_gradient() }}"
                                    title="{{ p['maps'][i].time_record.timestamp|timesince }}">
                                    {{ format_time(p['maps'][i].time_record.time) }}s
                                </td>
                                <td style="background-color: {{ p['maps'][i].time_record.get_background_gradient() }}"
                                    title="{{ p['maps'][i].time_record.timestamp|timesince }}">
                                    {{ p['maps'][i].eesystem_points_rounded }}
                                </td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        {% endfor %}
                        <th class="text-right table-active">{{ players[player]['total']|round(2) }}</th>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
