{% extends "xdwc/base.jinja" %}

{% block title %}{{ player.nickname_nocolors }} - XDWC{% endblock %}

{% block content %}
    <div class="col-12">
        <h2>{{ player_name(player) }}</h2>
        {% if player.stats_id %}
            <p><a href="https://stats.xonotic.org/player/{{ player.stats_id }}">xonotic stats profile</a></p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Recent Activity</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Tournament</th>
                    <th>Map</th>
                    <th>Result</th>
                    <th>Position</th>
                    <th>Reltime</th>
                    <th>Difftime</th>
                    <th>Score</th>
                </tr>
                {% for i in time_records %}
                    <tr>
                        <td>
                            <a href="/{{ i.time_record.map.tournament.slug }}">
                                {{ i.time_record.map.tournament }}
                            </a>
                        </td>
                        <td>
                            <a href="/{{ i.time_record.map.tournament.slug }}/map/{{ i.time_record.map.xonotic_name }}">
                                {{ i.time_record.map.name }}
                            </a>
                        </td>
                        <td>{{ format_time(i.time_record.time) }}</td>
                        <td>{{ i.position }}</td>
                        <td>{{ i.reltime|round(3) }}</td>
                        <td>{% if i.difftime.is_zero() %}--{% else %}+{{ format_time(i.difftime) }}{% endif %}</td>
                        <td>{{ i.eesystem_points_rounded }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}