{% extends "xdwc/base.jinja" %}

{% block title %}Servers - {{ tournament }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% include "xdwc/_logo_big.jinja" %}
        <h2 class="page-header">Servers</h2>
        {% for i in servers %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    {% if i.location_country %}
                    <img src="{{ static('img/flags/' + i.location_country + '.svg') }}" style="height: 100px; width: 169px" class="img-thumbnail float-right">
                    {% endif %}
                    <ul>
                        <li><strong>Location:</strong> {{ i.location }}</li>
                        <li><strong>Address:</strong> {{ i.address }}:{{ i.port }}</li>
                    </ul>

                </div>
            </div>
            {% else %}
            <p class="text-danger">No servers available at this moment. Please check later.</p>
        {% endfor %}

    </div>
{% endblock %}
