body {
}

.main-container {
    margin-top: 32px;
}

.page-header {
    margin: 25px 0 20px 0;
}

#footer {
    margin: 5em 0;
}

#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

#footer p {
    clear: left;
    margin-bottom: 0;
}

td, th {
    white-space: nowrap;
}

.table td, .table th {
    padding: 0.5rem;
}

.standings-nickname {
    width: 15rem;
    max-width: 15rem;
    overflow: hidden;
    padding-right: 1rem;
}

.standings-nickname a {
    color: #fff;
}